# Case Study 3

In [1]:
#importing required libraries
import pandas as pd
import numpy as np

In [2]:
#importing dataset
file1 = pd.read_excel('C:/Users/Admin/Downloads/Python&Excel_Assesment (1).xlsx', sheet_name='DataSet')
file2 = pd.read_excel('C:/Users/Admin/Downloads/Python&Excel_Assesment (1).xlsx', sheet_name='DataSet2')

In [3]:
#view dataset information
file1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 78 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   25 non-null     object
 1   Id_a                   25 non-null     int64
 2   Id_b                   25 non-null     int64
 3   startDay               25 non-null     object
 4   startTime              25 non-null     object
 5   endDay                 25 non-null     object
 6   endTime                25 non-null     object
 7   ablePri2AxlesAuto      23 non-null     float64
 8   ablePri3AxlesAuto      25 non-null     int64
 9   ablePri4AxlesAuto      25 non-null     int64
 10  ablePri2AxlesDualTire  25 non-null     int64
 11  ablePri3AxlesDualTire  25 non-null     int64
 12  ablePri4AxlesDualTire  25 non-null     int64
 13  ablePri2AxlesTNC       25 non-null     int64
 14  ablePri2AxlesTNCPool   25 non-null     int64
 15  ablePri2AxlesTaxi      25 non-null     int64
 16  ablePri2AxlesTaxiPool  25 non-null     int64
 17  ableSec2AxlesAuto      25 non-null     int64
 18  ableSec3AxlesAuto      25 non-null     int64
 19  ableSec4AxlesAuto      25 non-null     int64
 20  ableSec2AxlesDualTire  25 non-null     int64
 21  ableSec3AxlesDualTire  25 non-null     int64
 22  ableSec4AxlesDualTire  25 non-null     int64
 23  ableSec2AxlesTNC       25 non-null     int64
 24  ableSec2AxlesTNCPool   25 non-null     int64
 25  ableSec2AxlesTaxi      25 non-null     int64
 26  ableSec2AxlesTaxiPool  25 non-null     int64
 27  able22AxlesAuto        25 non-null     int64
 28  able23AxlesAuto        25 non-null     int64
 29  able22AxlesDualTire    25 non-null     int64
 30  able23AxlesDualTire    23 non-null     float64
 31  able24AxlesDualTire    25 non-null     int64
 32  able22AxlesTNC         25 non-null     int64
 33  able22AxlesTNCPool     25 non-null     int64
 34  able22AxlesTaxi        25 non-null     int64
 35  able22AxlesTaxiPool    25 non-null     int64
 36  able32AxlesAuto        25 non-null     int64
 37  able33AxlesAuto        25 non-null     int64
 38  able34AxlesAuto        25 non-null     int64
 39  able32AxlesDualTire    25 non-null     int64
 40  able33AxlesDualTire    25 non-null     int64
 41  able34AxlesDualTire    25 non-null     int64
 42  able32AxlesTNC         25 non-null     int64
 43  able32AxlesTNCPool     25 non-null     int64
 44  able32AxlesTaxi        25 non-null     int64
 45  able32AxlesTaxiPool    25 non-null     int64
 46  able52AxlesAuto        25 non-null     int64
 47  able53AxlesAuto        25 non-null     int64
 48  able54AxlesAuto        25 non-null     int64
 49  able52AxlesDualTire    25 non-null     int64
 50  able53AxlesDualTire    25 non-null     int64
 51  able54AxlesDualTire    25 non-null     int64
 52  able52AxlesTNC         25 non-null     int64
 53  able52AxlesTNCPool     25 non-null     int64
 54  able52AxlesTaxi        25 non-null     int64
 55  able52AxlesTaxiPool    25 non-null     int64
 56  able42AxlesAuto        25 non-null     int64
 57  able43AxlesAuto        25 non-null     int64
 58  able44AxlesAuto        24 non-null     float64
 59  able42AxlesDualTire    22 non-null     float64
 60  able43AxlesDualTire    24 non-null     float64
 61  able44AxlesDualTire    25 non-null     int64
 62  able42AxlesTNC         25 non-null     int64
 63  able42AxlesTNCPool     25 non-null     int64
 64  able42AxlesTaxi        25 non-null     int64
 65  able42AxlesTaxiPool    25 non-null     int64
 66  ablePriHov2            23 non-null     float64
 67  ablePriHov3            23 non-null     float64
 68  ableSecHov2            23 non-null     float64
 69  ableSecHov3            23 non-null     float64
 70  able2Hov2              23 non-null     float64
 71  able2Hov3              23 non-null     float64
 72  able3Hov2              23 non-null     float64
 73  able3Hov3              25 non-null     int64
 74  able5Hov2              25 non-null     int64
 75  able5Hov3              25 non-null     int64
 76  able4Hov2              25 non-null     int64
 77  able4Hov3              25 non-null     int64
dtypes: float64(12), int64(61), object(5)
memory usage: 15.4+ KB

In [4]:
#view dataset
file1.head()

,name,Id_a,Id_b,startDay,startTime,endDay,endTime,ablePri2AxlesAuto,ablePri3AxlesAuto,ablePri4AxlesAuto,...,ableSecHov2,ableSecHov3,able2Hov2,able2Hov3,able3Hov2,able3Hov3,able5Hov2,able5Hov3,able4Hov2,able4Hov3
0,ZUK,30000,-1,Monday,05:00:00,Wednesday,10:00:00,127.0,52,23,...,-1.0,-1.0,3.0,3.0,-1.0,-1,3,3,3,3
1,KHJ,30000,-1,Monday,10:00:00,Friday,15:00:00,119.0,59,31,...,-1.0,-1.0,6.0,6.0,-1.0,-1,6,6,6,6
2,DFK,30000,-1,Thursday,15:00:00,Friday,19:00:00,126.0,57,31,...,-1.0,-1.0,3.0,3.0,-1.0,-1,3,3,3,3
3,DFD,30000,-1,Monday,19:00:00,Friday,23:59:59,128.0,64,32,...,-1.0,-1.0,6.0,6.0,-1.0,-1,6,6,6,6
4,MWS,30000,-1,Saturday,00:00:00,Sunday,23:59:59,115.0,63,29,...,-1.0,-1.0,6.0,6.0,NaN,-1,6,6,6,6

In [5]:
#view dataset information
file2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 78 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   23 non-null     object
 1   Id_a                   23 non-null     int64
 2   Id_b                   23 non-null     int64
 3   startDay               23 non-null     object
 4   startTime              23 non-null     object
 5   endDay                 23 non-null     object
 6   endTime                23 non-null     object
 7   ablePri2AxlesAuto      23 non-null     int64
 8   ablePri4AxlesAuto      23 non-null     int64
 9   ablePri2AxlesDualTire  23 non-null     int64
 10  ablePri3AxlesDualTire  23 non-null     int64
 11  ablePri4AxlesDualTire  23 non-null     int64
 12  ablePri2AxlesTNC       23 non-null     int64
 13  ablePri2AxlesTNCPool   23 non-null     int64
 14  ablePri2AxlesTaxi      23 non-null     int64
 15  ablePri2AxlesTaxiPool  23 non-null     int64
 16  ableSec2AxlesAuto      23 non-null     int64
 17  ableSec3AxlesAuto      23 non-null     int64
 18  ableSec4AxlesAuto      23 non-null     int64
 19  ableSec2AxlesDualTire  23 non-null     int64
 20  ableSec3AxlesDualTire  23 non-null     int64
 21  ableSec4AxlesDualTire  23 non-null     int64
 22  ableSec2AxlesTNC       23 non-null     int64
 23  ableSec2AxlesTNCPool   23 non-null     int64
 24  ableSec2AxlesTaxi      23 non-null     int64
 25  ableSec2AxlesTaxiPool  23 non-null     int64
 26  able22AxlesAuto        23 non-null     int64
 27  able23AxlesAuto        23 non-null     int64
 28  able24AxlesAuto        23 non-null     int64
 29  able22AxlesDualTire    23 non-null     int64
 30  able23AxlesDualTire    23 non-null     int64
 31  able24AxlesDualTire    23 non-null     int64
 32  able22AxlesTNC         23 non-null     int64
 33  able22AxlesTNCPool     23 non-null     int64
 34  able22AxlesTaxi        23 non-null     int64
 35  able22AxlesTaxiPool    23 non-null     int64
 36  able32AxlesAuto        23 non-null     int64
 37  able33AxlesAuto        23 non-null     int64
 38  able34AxlesAuto        23 non-null     int64
 39  able32AxlesDualTire    23 non-null     int64
 40  able33AxlesDualTire    23 non-null     int64
 41  able34AxlesDualTire    23 non-null     int64
 42  able32AxlesTNC         23 non-null     int64
 43  able32AxlesTNCPool     23 non-null     int64
 44  able32AxlesTaxi        23 non-null     int64
 45  able32AxlesTaxiPool    23 non-null     int64
 46  able52AxlesAuto        23 non-null     int64
 47  able53AxlesAuto        23 non-null     int64
 48  able54AxlesAuto        23 non-null     int64
 49  able52AxlesDualTire    23 non-null     int64
 50  able53AxlesDualTire    23 non-null     int64
 51  able54AxlesDualTire    23 non-null     int64
 52  able52AxlesTNC         23 non-null     int64
 53  able52AxlesTNCPool     23 non-null     int64
 54  able52AxlesTaxi        23 non-null     int64
 55  able52AxlesTaxiPool    23 non-null     int64
 56  able42AxlesAuto        23 non-null     int64
 57  able43AxlesAuto        23 non-null     int64
 58  able44AxlesAuto        23 non-null     int64
 59  able42AxlesDualTire    23 non-null     int64
 60  able43AxlesDualTire    23 non-null     int64
 61  able44AxlesDualTire    23 non-null     int64
 62  able42AxlesTNC         23 non-null     int64
 63  able42AxlesTNCPool     23 non-null     int64
 64  able42AxlesTaxi        23 non-null     int64
 65  able42AxlesTaxiPool    23 non-null     int64
 66  ablePriHov2            23 non-null     int64
 67  ablePriHov3            23 non-null     int64
 68  ableSecHov2            23 non-null     int64
 69  ableSecHov3            23 non-null     int64
 70  able2Hov2              23 non-null     int64
 71  able2Hov3              23 non-null     int64
 72  able3Hov2              23 non-null     int64
 73  able3Hov3              23 non-null     int64
 74  able5Hov2              23 non-null     int64
 75  able5Hov3              23 non-null     int64
 76  able4Hov2              23 non-null     int64
 77  able4Hov3              23 non-null     int64
dtypes: int64(73), object(5)
memory usage: 14.1+ KB

In [6]:
#view dataset
file2.head()

,name,Id_a,Id_b,startDay,startTime,endDay,endTime,ablePri2AxlesAuto,ablePri4AxlesAuto,ablePri2AxlesDualTire,...,ableSecHov2,ableSecHov3,able2Hov2,able2Hov3,able3Hov2,able3Hov3,able5Hov2,able5Hov3,able4Hov2,able4Hov3
0,COM,30000,30002,Monday,05:00:00,Friday,10:00:00,116,30,15,...,-1,-1,3,3,-1,-1,3,3,3,3
1,FMG,30000,30002,Monday,19:00:00,Friday,23:59:59,127,32,11,...,-1,-1,6,6,-1,-1,6,6,6,6
2,PSQ,30000,30002,Monday,19:00:00,Friday,23:59:59,104,23,14,...,-1,-1,6,6,-1,-1,6,6,6,6
3,XBL,30000,30002,Monday,19:00:00,Friday,23:59:59,128,32,16,...,-1,-1,6,6,-1,-1,6,6,6,6
4,VRK,30000,30002,Monday,19:00:00,Friday,23:59:59,107,22,12,...,-1,-1,6,6,-1,-1,6,6,6,6

### Merge Data in Sheets DataSet and DataSet2 and keep only specified columns

In [7]:
#merge files
df = pd.concat([file1,file2], axis=0, ignore_index=True)

In [8]:
#view merged data information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 79 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   48 non-null     object
 1   Id_a                   48 non-null     int64
 2   Id_b                   48 non-null     int64
 3   startDay               48 non-null     object
 4   startTime              48 non-null     object
 5   endDay                 48 non-null     object
 6   endTime                48 non-null     object
 7   ablePri2AxlesAuto      46 non-null     float64
 8   ablePri3AxlesAuto      25 non-null     float64
 9   ablePri4AxlesAuto      48 non-null     int64
 10  ablePri2AxlesDualTire  48 non-null     int64
 11  ablePri3AxlesDualTire  48 non-null     int64
 12  ablePri4AxlesDualTire  48 non-null     int64
 13  ablePri2AxlesTNC       48 non-null     int64
 14  ablePri2AxlesTNCPool   48 non-null     int64
 15  ablePri2AxlesTaxi      48 non-null     int64
 16  ablePri2AxlesTaxiPool  48 non-null     int64
 17  ableSec2AxlesAuto      48 non-null     int64
 18  ableSec3AxlesAuto      48 non-null     int64
 19  ableSec4AxlesAuto      48 non-null     int64
 20  ableSec2AxlesDualTire  48 non-null     int64
 21  ableSec3AxlesDualTire  48 non-null     int64
 22  ableSec4AxlesDualTire  48 non-null     int64
 23  ableSec2AxlesTNC       48 non-null     int64
 24  ableSec2AxlesTNCPool   48 non-null     int64
 25  ableSec2AxlesTaxi      48 non-null     int64
 26  ableSec2AxlesTaxiPool  48 non-null     int64
 27  able22AxlesAuto        48 non-null     int64
 28  able23AxlesAuto        48 non-null     int64
 29  able22AxlesDualTire    48 non-null     int64
 30  able23AxlesDualTire    46 non-null     float64
 31  able24AxlesDualTire    48 non-null     int64
 32  able22AxlesTNC         48 non-null     int64
 33  able22AxlesTNCPool     48 non-null     int64
 34  able22AxlesTaxi        48 non-null     int64
 35  able22AxlesTaxiPool    48 non-null     int64
 36  able32AxlesAuto        48 non-null     int64
 37  able33AxlesAuto        48 non-null     int64
 38  able34AxlesAuto        48 non-null     int64
 39  able32AxlesDualTire    48 non-null     int64
 40  able33AxlesDualTire    48 non-null     int64
 41  able34AxlesDualTire    48 non-null     int64
 42  able32AxlesTNC         48 non-null     int64
 43  able32AxlesTNCPool     48 non-null     int64
 44  able32AxlesTaxi        48 non-null     int64
 45  able32AxlesTaxiPool    48 non-null     int64
 46  able52AxlesAuto        48 non-null     int64
 47  able53AxlesAuto        48 non-null     int64
 48  able54AxlesAuto        48 non-null     int64
 49  able52AxlesDualTire    48 non-null     int64
 50  able53AxlesDualTire    48 non-null     int64
 51  able54AxlesDualTire    48 non-null     int64
 52  able52AxlesTNC         48 non-null     int64
 53  able52AxlesTNCPool     48 non-null     int64
 54  able52AxlesTaxi        48 non-null     int64
 55  able52AxlesTaxiPool    48 non-null     int64
 56  able42AxlesAuto        48 non-null     int64
 57  able43AxlesAuto        48 non-null     int64
 58  able44AxlesAuto        47 non-null     float64
 59  able42AxlesDualTire    45 non-null     float64
 60  able43AxlesDualTire    47 non-null     float64
 61  able44AxlesDualTire    48 non-null     int64
 62  able42AxlesTNC         48 non-null     int64
 63  able42AxlesTNCPool     48 non-null     int64
 64  able42AxlesTaxi        48 non-null     int64
 65  able42AxlesTaxiPool    48 non-null     int64
 66  ablePriHov2            46 non-null     float64
 67  ablePriHov3            46 non-null     float64
 68  ableSecHov2            46 non-null     float64
 69  ableSecHov3            46 non-null     float64
 70  able2Hov2              46 non-null     float64
 71  able2Hov3              46 non-null     float64
 72  able3Hov2              46 non-null     float64
 73  able3Hov3              48 non-null     int64
 74  able5Hov2              48 non-null     int64
 75  able5Hov3              48 non-null     int64
 76  able4Hov2              48 non-null     int64
 77  able4Hov3              48 non-null     int64
 78  able24AxlesAuto        23 non-null     float64
dtypes: float64(14), int64(60), object(5)
memory usage: 29.8+ KB

In [9]:
#view columns
df.columns

Index(['name', 'Id_a', 'Id_b', 'startDay', 'startTime', 'endDay', 'endTime',
       'ablePri2AxlesAuto', 'ablePri3AxlesAuto', 'ablePri4AxlesAuto',
       'ablePri2AxlesDualTire', 'ablePri3AxlesDualTire',
       'ablePri4AxlesDualTire', 'ablePri2AxlesTNC', 'ablePri2AxlesTNCPool',
       'ablePri2AxlesTaxi', 'ablePri2AxlesTaxiPool', 'ableSec2AxlesAuto',
       'ableSec3AxlesAuto', 'ableSec4AxlesAuto', 'ableSec2AxlesDualTire',
       'ableSec3AxlesDualTire', 'ableSec4AxlesDualTire', 'ableSec2AxlesTNC',
       'ableSec2AxlesTNCPool', 'ableSec2AxlesTaxi', 'ableSec2AxlesTaxiPool',
       'able22AxlesAuto', 'able23AxlesAuto', 'able22AxlesDualTire',
       'able23AxlesDualTire', 'able24AxlesDualTire', 'able22AxlesTNC',
       'able22AxlesTNCPool', 'able22AxlesTaxi', 'able22AxlesTaxiPool',
       'able32AxlesAuto', 'able33AxlesAuto', 'able34AxlesAuto',
       'able32AxlesDualTire', 'able33AxlesDualTire', 'able34AxlesDualTire',
       'able32AxlesTNC', 'able32AxlesTNCPool', 'able32AxlesTaxi',
       'able32AxlesTaxiPool', 'able52AxlesAuto', 'able53AxlesAuto',
       'able54AxlesAuto', 'able52AxlesDualTire', 'able53AxlesDualTire',
       'able54AxlesDualTire', 'able52AxlesTNC', 'able52AxlesTNCPool',
       'able52AxlesTaxi', 'able52AxlesTaxiPool', 'able42AxlesAuto',
       'able43AxlesAuto', 'able44AxlesAuto', 'able42AxlesDualTire',
       'able43AxlesDualTire', 'able44AxlesDualTire', 'able42AxlesTNC',
       'able42AxlesTNCPool', 'able42AxlesTaxi', 'able42AxlesTaxiPool',
       'ablePriHov2', 'ablePriHov3', 'ableSecHov2', 'ableSecHov3', 'able2Hov2',
       'able2Hov3', 'able3Hov2', 'able3Hov3', 'able5Hov2', 'able5Hov3',
       'able4Hov2', 'able4Hov3', 'able24AxlesAuto'],
      dtype='object')

In [10]:
#drop columns that are not required
df.drop(['ablePri3AxlesDualTire',
       'ablePri4AxlesDualTire', 'ablePri2AxlesTNC', 'ablePri2AxlesTNCPool','ableSec2AxlesAuto',
       'ableSec3AxlesAuto', 'ableSec4AxlesAuto', 'ableSec2AxlesDualTire','ableSec3AxlesDualTire', 'ableSec4AxlesDualTire',
        'ableSec2AxlesTNC','ableSec2AxlesTNCPool', 'ableSec2AxlesTaxi', 'ableSec2AxlesTaxiPool',
       'able22AxlesAuto', 'able22AxlesDualTire','able23AxlesDualTire', 'able24AxlesDualTire', 'able22AxlesTNC',
       'able22AxlesTNCPool', 'able22AxlesTaxi', 'able22AxlesTaxiPool','able32AxlesAuto', 'able33AxlesAuto', 'able34AxlesAuto',
       'able32AxlesDualTire', 'able33AxlesDualTire', 'able34AxlesDualTire','able32AxlesTNC', 'able32AxlesTNCPool',
         'able32AxlesTaxi', 'able32AxlesTaxiPool', 'able52AxlesAuto', 'able53AxlesAuto','able54AxlesAuto',
         'able52AxlesDualTire', 'able53AxlesDualTire', 'able54AxlesDualTire', 'able52AxlesTNC', 'able52AxlesTNCPool',
       'able52AxlesTaxi', 'able52AxlesTaxiPool', 'able42AxlesAuto', 'able43AxlesAuto', 'able44AxlesAuto', 'able42AxlesDualTire',
       'able43AxlesDualTire', 'able44AxlesDualTire', 'able42AxlesTNC','able42AxlesTNCPool', 'able42AxlesTaxi',
         'able42AxlesTaxiPool', 'ablePriHov2', 'ablePriHov3', 'ableSecHov2', 'ableSecHov3', 'able2Hov2',
       'able2Hov3', 'able3Hov2', 'able3Hov3', 'able5Hov2', 'able5Hov3', 'able4Hov2', 'able4Hov3'], axis=1, inplace=True)

In [11]:
#view dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   48 non-null     object
 1   Id_a                   48 non-null     int64
 2   Id_b                   48 non-null     int64
 3   startDay               48 non-null     object
 4   startTime              48 non-null     object
 5   endDay                 48 non-null     object
 6   endTime                48 non-null     object
 7   ablePri2AxlesAuto      46 non-null     float64
 8   ablePri3AxlesAuto      25 non-null     float64
 9   ablePri4AxlesAuto      48 non-null     int64
 10  ablePri2AxlesDualTire  48 non-null     int64
 11  ablePri2AxlesTaxi      48 non-null     int64
 12  ablePri2AxlesTaxiPool  48 non-null     int64
 13  able23AxlesAuto        48 non-null     int64
 14  able24AxlesAuto        23 non-null     float64
dtypes: float64(3), int64(7), object(5)
memory usage: 5.8+ KB

In [12]:
#view dataset
df

,name,Id_a,Id_b,startDay,startTime,endDay,endTime,ablePri2AxlesAuto,ablePri3AxlesAuto,ablePri4AxlesAuto,ablePri2AxlesDualTire,ablePri2AxlesTaxi,ablePri2AxlesTaxiPool,able23AxlesAuto,able24AxlesAuto
0,ZUK,30000,-1,Monday,05:00:00,Wednesday,10:00:00,127.0,52.0,23,13,7,4,1,NaN
1,KHJ,30000,-1,Monday,10:00:00,Friday,15:00:00,119.0,59.0,31,13,6,2,1,NaN
2,DFK,30000,-1,Thursday,15:00:00,Friday,19:00:00,126.0,57.0,31,14,7,2,1,NaN
3,DFD,30000,-1,Monday,19:00:00,Friday,23:59:59,128.0,64.0,32,16,8,4,2,NaN
4,MWS,30000,-1,Saturday,00:00:00,Sunday,23:59:59,115.0,63.0,29,12,8,2,2,NaN
5,PWS,30004,-1,Monday,00:00:00,Friday,05:00:00,123.0,58.0,25,11,6,2,2,NaN
6,GLU,30004,-1,Monday,05:00:00,Friday,10:00:00,126.0,59.0,29,13,6,2,1,NaN
7,VSP,30004,-1,Monday,10:00:00,Friday,15:00:00,126.0,53.0,26,12,6,4,2,NaN
8,YWI,30004,-1,Tuesday,15:00:00,Saturday,19:00:00,119.0,64.0,28,15,8,4,1,NaN
9,YWI,30004,-1,Monday,15:00:00,Friday,19:00:00,119.0,64.0,28,15,8,4,1,NaN
10,LVF,30004,-1,Monday,19:00:00,Friday,23:59:59,128.0,64.0,32,16,8,4,2,NaN
11,PJG,30004,-1,Saturday,00:00:00,Sunday,23:59:59,117.0,57.0,29,10,5,3,2,NaN
12,PIL\n,30004,-1,Monday,00:00:00,Friday,05:00:00,126.0,52.0,30,12,8,4,1,NaN
13,UMU,30004,-1,Monday,05:00:00,Tuesday,10:00:00,110.0,56.0,31,13,8,4,2,NaN
14,GEV,30002,-1,Wednesday,10:00:00,Friday,15:00:00,105.0,53.0,23,16,8,3,1,NaN
15,NHB,30002,-1,Monday,15:00:00,Friday,19:00:00,127.0,56.0,24,15,5,3,2,NaN
16,TCZ,30002,-1,Monday,19:00:00,Friday,23:59:59,119.0,60.0,26,16,7,3,2,NaN
17,OKN,30002,-1,Saturday,00:00:00,Sunday,23:59:59,NaN,64.0,32,16,8,4,2,NaN
18,XND,30002,-1,Monday,00:00:00,Friday,05:00:00,123.0,50.0,21,16,6,3,2,NaN
19,QVE\n,30002,-1,Monday,05:00:00,Friday,10:00:00,119.0,57.0,31,10,7,3,1,NaN
20,JQI,30002,-1,Monday,10:00:00,Friday,15:00:00,106.0,54.0,31,13,6,2,2,NaN
21,GHK,30002,-1,Monday,15:00:00,Friday,19:00:00,NaN,64.0,32,16,8,4,2,NaN
22,MYV,30002,-1,Monday,19:00:00,Friday,23:59:59,110.0,57.0,30,13,8,2,1,NaN
23,VRY,30002,-1,Saturday,00:00:00,Sunday,23:59:59,103.0,52.0,25,10,5,2,1,NaN
24,VRY,30002,-1,Saturday,00:00:00,Sunday,23:59:59,103.0,52.0,25,10,5,2,1,NaN
25,COM,30000,30002,Monday,05:00:00,Friday,10:00:00,116.0,NaN,30,15,7,4,2,1.0
26,FMG,30000,30002,Monday,19:00:00,Friday,23:59:59,127.0,NaN,32,11,6,2,1,1.0
27,PSQ,30000,30002,Monday,19:00:00,Friday,23:59:59,104.0,NaN,23,14,5,4,1,0.0
28,XBL,30000,30002,Monday,19:00:00,Friday,23:59:59,128.0,NaN,32,16,8,4,2,1.0
29,VRK,30000,30002,Monday,19:00:00,Friday,23:59:59,107.0,NaN,22,12,5,4,2,0.0
30,KGC,30000,30004,Monday,10:00:00,Friday,15:00:00,118.0,NaN,23,14,6,3,2,0.0
31,NLR,30000,30004,Saturday,00:00:00,Sunday,23:59:59,105.0,NaN,32,13,6,4,1,1.0
32,IHG,30000,30004,Saturday,00:00:00,Sunday,23:59:59,112.0,NaN,23,13,8,4,2,0.0
33,IAZ,30000,30004,Saturday,00:00:00,Sunday,23:59:59,127.0,NaN,29,11,5,2,2,0.0
34,XZT,30000,30004,Saturday,00:00:00,Sunday,23:59:59,128.0,NaN,32,16,8,4,2,1.0
35,FJM,30000,30004,Monday,10:00:00,Friday,15:00:00,119.0,NaN,30,11,5,4,1,1.0
36,BPN,30002,30000,Saturday,00:00:00,Sunday,23:59:59,121.0,NaN,32,13,8,3,2,1.0
37,LTH,30002,30000,Monday,00:00:00,Friday,05:00:00,127.0,NaN,27,10,8,2,1,1.0
38,QUG,30002,30000,Monday,00:00:00,Friday,05:00:00,128.0,NaN,32,16,8,4,2,1.0
39,AEY,30004,30000,Monday,15:00:00,Friday,19:00:00,109.0,NaN,29,14,5,2,1,0.0
40,IXA,30004,30000,Monday,00:00:00,Friday,05:00:00,128.0,NaN,32,16,8,4,2,1.0
41,JFZ,30004,30000,Monday,00:00:00,Friday,05:00:00,101.0,NaN,30,14,6,4,2,1.0
42,QWT,30002,30004,Monday,05:00:00,Friday,10:00:00,109.0,NaN,23,11,7,3,2,0.0
43,HVV,30002,30004,Monday,19:00:00,Friday,23:59:59,128.0,NaN,32,16,8,4,2,1.0
44,CEC,30002,30004,Monday,00:00:00,Friday,05:00:00,117.0,NaN,23,13,6,2,2,1.0
45,EZZ,30004,30002,Monday,15:00:00,Friday,19:00:00,128.0,NaN,32,16,8,4,2,1.0
46,LTN,30004,30002,Monday,15:00:00,Friday,19:00:00,124.0,NaN,29,16,5,3,2,0.0
47,UPQ,30004,30002,Monday,15:00:00,Friday,19:00:00,120.0,NaN,23,13,7,3,2,0.0

In [13]:
#df.to_csv('task1.csv', index=False)

### Replace Null Values with Specified Values

In [14]:
#replace null values with specified values
df['ablePri2AxlesAuto'].fillna(value=128, inplace=True)
df['ablePri3AxlesAuto'].fillna(value=64, inplace=True)
df['able23AxlesAuto'].fillna(value=2, inplace=True)
df['able24AxlesAuto'].fillna(value=1, inplace=True)

In [15]:
#view dataset after replacing null values
df

,name,Id_a,Id_b,startDay,startTime,endDay,endTime,ablePri2AxlesAuto,ablePri3AxlesAuto,ablePri4AxlesAuto,ablePri2AxlesDualTire,ablePri2AxlesTaxi,ablePri2AxlesTaxiPool,able23AxlesAuto,able24AxlesAuto
0,ZUK,30000,-1,Monday,05:00:00,Wednesday,10:00:00,127.0,52.0,23,13,7,4,1,1.0
1,KHJ,30000,-1,Monday,10:00:00,Friday,15:00:00,119.0,59.0,31,13,6,2,1,1.0
2,DFK,30000,-1,Thursday,15:00:00,Friday,19:00:00,126.0,57.0,31,14,7,2,1,1.0
3,DFD,30000,-1,Monday,19:00:00,Friday,23:59:59,128.0,64.0,32,16,8,4,2,1.0
4,MWS,30000,-1,Saturday,00:00:00,Sunday,23:59:59,115.0,63.0,29,12,8,2,2,1.0
5,PWS,30004,-1,Monday,00:00:00,Friday,05:00:00,123.0,58.0,25,11,6,2,2,1.0
6,GLU,30004,-1,Monday,05:00:00,Friday,10:00:00,126.0,59.0,29,13,6,2,1,1.0
7,VSP,30004,-1,Monday,10:00:00,Friday,15:00:00,126.0,53.0,26,12,6,4,2,1.0
8,YWI,30004,-1,Tuesday,15:00:00,Saturday,19:00:00,119.0,64.0,28,15,8,4,1,1.0
9,YWI,30004,-1,Monday,15:00:00,Friday,19:00:00,119.0,64.0,28,15,8,4,1,1.0
10,LVF,30004,-1,Monday,19:00:00,Friday,23:59:59,128.0,64.0,32,16,8,4,2,1.0
11,PJG,30004,-1,Saturday,00:00:00,Sunday,23:59:59,117.0,57.0,29,10,5,3,2,1.0
12,PIL\n,30004,-1,Monday,00:00:00,Friday,05:00:00,126.0,52.0,30,12,8,4,1,1.0
13,UMU,30004,-1,Monday,05:00:00,Tuesday,10:00:00,110.0,56.0,31,13,8,4,2,1.0
14,GEV,30002,-1,Wednesday,10:00:00,Friday,15:00:00,105.0,53.0,23,16,8,3,1,1.0
15,NHB,30002,-1,Monday,15:00:00,Friday,19:00:00,127.0,56.0,24,15,5,3,2,1.0
16,TCZ,30002,-1,Monday,19:00:00,Friday,23:59:59,119.0,60.0,26,16,7,3,2,1.0
17,OKN,30002,-1,Saturday,00:00:00,Sunday,23:59:59,128.0,64.0,32,16,8,4,2,1.0
18,XND,30002,-1,Monday,00:00:00,Friday,05:00:00,123.0,50.0,21,16,6,3,2,1.0
19,QVE\n,30002,-1,Monday,05:00:00,Friday,10:00:00,119.0,57.0,31,10,7,3,1,1.0
20,JQI,30002,-1,Monday,10:00:00,Friday,15:00:00,106.0,54.0,31,13,6,2,2,1.0
21,GHK,30002,-1,Monday,15:00:00,Friday,19:00:00,128.0,64.0,32,16,8,4,2,1.0
22,MYV,30002,-1,Monday,19:00:00,Friday,23:59:59,110.0,57.0,30,13,8,2,1,1.0
23,VRY,30002,-1,Saturday,00:00:00,Sunday,23:59:59,103.0,52.0,25,10,5,2,1,1.0
24,VRY,30002,-1,Saturday,00:00:00,Sunday,23:59:59,103.0,52.0,25,10,5,2,1,1.0
25,COM,30000,30002,Monday,05:00:00,Friday,10:00:00,116.0,64.0,30,15,7,4,2,1.0
26,FMG,30000,30002,Monday,19:00:00,Friday,23:59:59,127.0,64.0,32,11,6,2,1,1.0
27,PSQ,30000,30002,Monday,19:00:00,Friday,23:59:59,104.0,64.0,23,14,5,4,1,0.0
28,XBL,30000,30002,Monday,19:00:00,Friday,23:59:59,128.0,64.0,32,16,8,4,2,1.0
29,VRK,30000,30002,Monday,19:00:00,Friday,23:59:59,107.0,64.0,22,12,5,4,2,0.0
30,KGC,30000,30004,Monday,10:00:00,Friday,15:00:00,118.0,64.0,23,14,6,3,2,0.0
31,NLR,30000,30004,Saturday,00:00:00,Sunday,23:59:59,105.0,64.0,32,13,6,4,1,1.0
32,IHG,30000,30004,Saturday,00:00:00,Sunday,23:59:59,112.0,64.0,23,13,8,4,2,0.0
33,IAZ,30000,30004,Saturday,00:00:00,Sunday,23:59:59,127.0,64.0,29,11,5,2,2,0.0
34,XZT,30000,30004,Saturday,00:00:00,Sunday,23:59:59,128.0,64.0,32,16,8,4,2,1.0
35,FJM,30000,30004,Monday,10:00:00,Friday,15:00:00,119.0,64.0,30,11,5,4,1,1.0
36,BPN,30002,30000,Saturday,00:00:00,Sunday,23:59:59,121.0,64.0,32,13,8,3,2,1.0
37,LTH,30002,30000,Monday,00:00:00,Friday,05:00:00,127.0,64.0,27,10,8,2,1,1.0
38,QUG,30002,30000,Monday,00:00:00,Friday,05:00:00,128.0,64.0,32,16,8,4,2,1.0
39,AEY,30004,30000,Monday,15:00:00,Friday,19:00:00,109.0,64.0,29,14,5,2,1,0.0
40,IXA,30004,30000,Monday,00:00:00,Friday,05:00:00,128.0,64.0,32,16,8,4,2,1.0
41,JFZ,30004,30000,Monday,00:00:00,Friday,05:00:00,101.0,64.0,30,14,6,4,2,1.0
42,QWT,30002,30004,Monday,05:00:00,Friday,10:00:00,109.0,64.0,23,11,7,3,2,0.0
43,HVV,30002,30004,Monday,19:00:00,Friday,23:59:59,128.0,64.0,32,16,8,4,2,1.0
44,CEC,30002,30004,Monday,00:00:00,Friday,05:00:00,117.0,64.0,23,13,6,2,2,1.0
45,EZZ,30004,30002,Monday,15:00:00,Friday,19:00:00,128.0,64.0,32,16,8,4,2,1.0
46,LTN,30004,30002,Monday,15:00:00,Friday,19:00:00,124.0,64.0,29,16,5,3,2,0.0
47,UPQ,30004,30002,Monday,15:00:00,Friday,19:00:00,120.0,64.0,23,13,7,3,2,0.0

In [16]:
#df.to_csv('task2.csv', index=False)

### Combination of columns Id_a and Id_b must be unique in the combined dataset

In [17]:
#sort dataset
df.sort_values(by=['Id_a','Id_b','ablePri2AxlesAuto']).head(10)

,name,Id_a,Id_b,startDay,startTime,endDay,endTime,ablePri2AxlesAuto,ablePri3AxlesAuto,ablePri4AxlesAuto,ablePri2AxlesDualTire,ablePri2AxlesTaxi,ablePri2AxlesTaxiPool,able23AxlesAuto,able24AxlesAuto
4,MWS,30000,-1,Saturday,00:00:00,Sunday,23:59:59,115.0,63.0,29,12,8,2,2,1.0
1,KHJ,30000,-1,Monday,10:00:00,Friday,15:00:00,119.0,59.0,31,13,6,2,1,1.0
2,DFK,30000,-1,Thursday,15:00:00,Friday,19:00:00,126.0,57.0,31,14,7,2,1,1.0
0,ZUK,30000,-1,Monday,05:00:00,Wednesday,10:00:00,127.0,52.0,23,13,7,4,1,1.0
3,DFD,30000,-1,Monday,19:00:00,Friday,23:59:59,128.0,64.0,32,16,8,4,2,1.0
27,PSQ,30000,30002,Monday,19:00:00,Friday,23:59:59,104.0,64.0,23,14,5,4,1,0.0
29,VRK,30000,30002,Monday,19:00:00,Friday,23:59:59,107.0,64.0,22,12,5,4,2,0.0
25,COM,30000,30002,Monday,05:00:00,Friday,10:00:00,116.0,64.0,30,15,7,4,2,1.0
26,FMG,30000,30002,Monday,19:00:00,Friday,23:59:59,127.0,64.0,32,11,6,2,1,1.0
28,XBL,30000,30002,Monday,19:00:00,Friday,23:59:59,128.0,64.0,32,16,8,4,2,1.0

In [18]:
#sort dataset
df.sort_values(by=['Id_a','Id_b','ablePri2AxlesAuto'], inplace=True)

In [19]:
#drop duplicate values
df.drop_duplicates(subset=['Id_a','Id_b'], keep='last').head(10)

,name,Id_a,Id_b,startDay,startTime,endDay,endTime,ablePri2AxlesAuto,ablePri3AxlesAuto,ablePri4AxlesAuto,ablePri2AxlesDualTire,ablePri2AxlesTaxi,ablePri2AxlesTaxiPool,able23AxlesAuto,able24AxlesAuto
3,DFD,30000,-1,Monday,19:00:00,Friday,23:59:59,128.0,64.0,32,16,8,4,2,1.0
28,XBL,30000,30002,Monday,19:00:00,Friday,23:59:59,128.0,64.0,32,16,8,4,2,1.0
34,XZT,30000,30004,Saturday,00:00:00,Sunday,23:59:59,128.0,64.0,32,16,8,4,2,1.0
21,GHK,30002,-1,Monday,15:00:00,Friday,19:00:00,128.0,64.0,32,16,8,4,2,1.0
38,QUG,30002,30000,Monday,00:00:00,Friday,05:00:00,128.0,64.0,32,16,8,4,2,1.0
43,HVV,30002,30004,Monday,19:00:00,Friday,23:59:59,128.0,64.0,32,16,8,4,2,1.0
10,LVF,30004,-1,Monday,19:00:00,Friday,23:59:59,128.0,64.0,32,16,8,4,2,1.0
40,IXA,30004,30000,Monday,00:00:00,Friday,05:00:00,128.0,64.0,32,16,8,4,2,1.0
45,EZZ,30004,30002,Monday,15:00:00,Friday,19:00:00,128.0,64.0,32,16,8,4,2,1.0

In [20]:
#drop duplicate values
df.drop_duplicates(subset=['Id_a','Id_b'], keep='last', inplace=True)

In [21]:
#reset dataset index
df.reset_index(inplace=True, drop=True)

In [22]:
#write result to CSV file
#df.to_csv('task3.csv', index=False)

### Pivot with Id_b values in column

In [23]:
#view data
df

,name,Id_a,Id_b,startDay,startTime,endDay,endTime,ablePri2AxlesAuto,ablePri3AxlesAuto,ablePri4AxlesAuto,ablePri2AxlesDualTire,ablePri2AxlesTaxi,ablePri2AxlesTaxiPool,able23AxlesAuto,able24AxlesAuto
0,DFD,30000,-1,Monday,19:00:00,Friday,23:59:59,128.0,64.0,32,16,8,4,2,1.0
1,XBL,30000,30002,Monday,19:00:00,Friday,23:59:59,128.0,64.0,32,16,8,4,2,1.0
2,XZT,30000,30004,Saturday,00:00:00,Sunday,23:59:59,128.0,64.0,32,16,8,4,2,1.0
3,GHK,30002,-1,Monday,15:00:00,Friday,19:00:00,128.0,64.0,32,16,8,4,2,1.0
4,QUG,30002,30000,Monday,00:00:00,Friday,05:00:00,128.0,64.0,32,16,8,4,2,1.0
5,HVV,30002,30004,Monday,19:00:00,Friday,23:59:59,128.0,64.0,32,16,8,4,2,1.0
6,LVF,30004,-1,Monday,19:00:00,Friday,23:59:59,128.0,64.0,32,16,8,4,2,1.0
7,IXA,30004,30000,Monday,00:00:00,Friday,05:00:00,128.0,64.0,32,16,8,4,2,1.0
8,EZZ,30004,30002,Monday,15:00:00,Friday,19:00:00,128.0,64.0,32,16,8,4,2,1.0

In [24]:
#create pivot table
df.pivot_table(values='ablePri2AxlesAuto', index='Id_a', columns = 'Id_b', fill_value=1)

Id_b   -1       30000   30002   30004
Id_a
30000     128       1     128     128
30002     128     128       1     128
30004     128     128     128       1

In [25]:
#creating pivot tables for all the columns and add another column 'pivoted_column'
pv1 = df.pivot_table(values='ablePri2AxlesAuto', index='Id_a', columns = 'Id_b', fill_value=-1)
pv1['pivoted_col'] = "ablePri2AxlesAuto"

pv2 = df.pivot_table(values='ablePri3AxlesAuto', index='Id_a', columns = 'Id_b', fill_value=-1)
pv2['pivoted_col'] = "ablePri3AxlesAuto"

pv3 = df.pivot_table(values='ablePri4AxlesAuto', index='Id_a', columns = 'Id_b', fill_value=-1)
pv3['pivoted_col'] = "ablePri4AxlesAuto"

pv4 = df.pivot_table(values='ablePri2AxlesDualTire', index='Id_a', columns = 'Id_b', fill_value=-1)
pv4['pivoted_col'] = "ablePri2AxlesDualTire"

pv5 = df.pivot_table(values='ablePri2AxlesTaxi', index='Id_a', columns = 'Id_b', fill_value=-1)
pv5['pivoted_col'] = "ablePri2AxlesTaxi"

pv6 = df.pivot_table(values='ablePri2AxlesTaxiPool', index='Id_a', columns = 'Id_b', fill_value=-1)
pv6['pivoted_col'] = "ablePri2AxlesTaxiPool"

pv7 = df.pivot_table(values='able23AxlesAuto', index='Id_a', columns = 'Id_b', fill_value=-1)
pv7['pivoted_col'] = "able23AxlesAuto"

pv8 = df.pivot_table(values='able24AxlesAuto', index='Id_a', columns = 'Id_b', fill_value=-1)
pv8['pivoted_col'] = "able24AxlesAuto"

In [26]:
#merge all the pivot tables
df2 = pd.concat([pv1,pv2,pv3,pv4,pv5,pv6,pv7,pv8], axis=0)

In [27]:
df2.shape

(24, 5)

In [28]:
#viewing resultant dataset 
df2

Id_b    -1  30000  30002  30004            pivoted_col
Id_a
30000  128     -1    128    128      ablePri2AxlesAuto
30002  128    128     -1    128      ablePri2AxlesAuto
30004  128    128    128     -1      ablePri2AxlesAuto
30000   64     -1     64     64      ablePri3AxlesAuto
30002   64     64     -1     64      ablePri3AxlesAuto
30004   64     64     64     -1      ablePri3AxlesAuto
30000   32     -1     32     32      ablePri4AxlesAuto
30002   32     32     -1     32      ablePri4AxlesAuto
30004   32     32     32     -1      ablePri4AxlesAuto
30000   16     -1     16     16  ablePri2AxlesDualTire
30002   16     16     -1     16  ablePri2AxlesDualTire
30004   16     16     16     -1  ablePri2AxlesDualTire
30000    8     -1      8      8      ablePri2AxlesTaxi
30002    8      8     -1      8      ablePri2AxlesTaxi
30004    8      8      8     -1      ablePri2AxlesTaxi
30000    4     -1      4      4  ablePri2AxlesTaxiPool
30002    4      4     -1      4  ablePri2AxlesTaxiPool
30004    4      4      4     -1  ablePri2AxlesTaxiPool
30000    2     -1      2      2        able23AxlesAuto
30002    2      2     -1      2        able23AxlesAuto
30004    2      2      2     -1        able23AxlesAuto
30000    1     -1      1      1        able24AxlesAuto
30002    1      1     -1      1        able24AxlesAuto
30004    1      1      1     -1        able24AxlesAuto

In [29]:
#df2.to_csv('task4.csv')